<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Forgot Password</title>
</head>

<body>
  <div class="container">
    <h2>Hello {{receiverName}}!</h2>
    <p>Did you request to reset your password?
      Find the link to reset your password below, otherwise disregards this mail
    </p>
    <p>Reset your password <a href={{link}} style="font-weight: 100; font-style: italic;">here</a></p>
  </div>
</body>
</html>